//colors
$color-primary-text: #757575;
$color-title-text: #212121;
$color-accent-text: #2196f3;
$color-accent: #2196f3;
$color-primary-background: #ffffff;
$color-button-background: #e9e9e9;
$color-button-whitetext: #ffffff;
$color-button-background: #f5f4fa;
$color-hero-footer-background: #2f303a;
$color-clear-text: #ffffff;
$color-team-background: #f5f4fa;
$color-overlay-background: rgba(33, 150, 243, 0.9);
$color-address-contacts: rgba(255, 255, 255, 0.6);
$color-background-icon: #f5f4fa;

//fonts
$font-primary: 14px;
$font-hero: 26px;
$font-logo-studio: ;
$font-overlay: 18px;
